body {

  background-color: slateblue;
  color: white;

  nav {

    margin: 2em auto;

    a {
      color: orange;

      &:hover, &:focus {
        text-decoration: none;
        color: gray;
      }
    }

  }
}
