
<div class="row">

  <div class="col-sm-offset-3 col-sm-6">

    <h2>Add Peeps</h2>

    <form ng-submit="addPeep(peep)">

      <p class="control">
        <input ng-model="peep.name" type="text" class="form-control" placeholder="Name">
      </p>
      <p class="control">
        <input ng-model="peep.email" type="email" class="form-control" placeholder="Email">
      </p>
      <p class="control">
        <input ng-model="peep.number" type="tel" class="form-control" placeholder="Phone Number">
      </p>
      <p class="control">
        <input ng-model="peep.addy" type="text" class="form-control" placeholder="City, State">
      </p>

      <button class="btn btn-default">+ Add Peep to List</button>

    </form>

  </div>

</div>
