
<div class="row">

  <div class="col-sm-offset-3 col-sm-6">

    <div class="card">

      <div class="peepHero">
        <h1 class="text-center">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        </h1>
      </div>

      <h3>
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ singlePeep.name }}
      </h3>

      <p>
        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{ singlePeep.email }}
      </p>

      <p>
        <span class="glyphicon glyphicon-phone" aria-hidden="true"></span> {{ singlePeep.number }}
      </p>

      <p>
        <span class="glyphicon glyphicon-globe" aria-hidden="true"></span> {{ singlePeep.addy }}
      </p>

      <p>
        <a class="card-footer-item" ng-click="deletePeep(singlePeep._id)">Delete</a>
      </p>

    </div>


  </div>

</div>
